.card {
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
    cursor: pointer;
    transition: ease-in-out 200ms transform;
    &:hover {
      transform: scale(1.05);
    }

    .card-header img {
        width: 100%;
        object-fit: fill;
    }

    .country-image {
        height: 202px;
    }

    .country-name {
        font-size: 20px;
        font-weight: 800;
        padding-bottom: 15px;
    }

    .info-numbers {
        font-weight: 600;
        padding-bottom: 5px;
    }

    .capital-div {
        padding-bottom: 25px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }

    .card-body p {
        font-size: 16px;
    }
}
