@media only screen and (min-width: 600px) {
  .globalDiv {
    padding: 70px 50px !important;
  }
}

  .globalDiv {
    padding: 20px 20px;
    background-color: rgb(240, 240, 240);
    
      .backButton {
        padding: 15px;
        padding-top: 12px;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        border: none;
        outline: none;
        background-color: #fff;
        border-radius: 7px;
        height: 40px;
        font-size: 16px;
        width: 120px;
        -webkit-box-shadow: 5px 5px 17px 4px rgba(156, 156, 156, 0.53);
        box-shadow: 5px 5px 17px 4px rgba(156, 156, 156, 0.53);
    
        .left-arrow {
          width: 20px;
          padding-right: 10px;
        }
      }
    
      .image-and-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
        gap: 0 150px;
    
        .country-image {
          width: 100%;
        }
      
        .details-columns {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
          gap: 0 30px;
          padding-bottom: 70px;
        }
          @media only screen and (max-width: 600px) {
             .tld {
              padding-top: 40px;
             }
          }

        .details {
          font-weight: 600;
          padding-bottom: 10px;
        }      
        
        .border-countries {
          display: flex;
          align-items: center;
          align-content: flex-start;
          flex-wrap: wrap;
          width: 100%;
          font-weight: 600;
          gap: 10px;

          span {
            white-space: nowrap;
            @media only screen and (max-width: 600px) {
              width: 100%;
              display: block;
            }
          }

          a {
            white-space: nowrap;
            text-decoration: none;
            color: #000;
            border: none;
            outline: none;
            background-color: #fff;
            border-radius: 7px;
            font-size: 16px;
            padding: 5px 20px;
            -webkit-box-shadow: 5px 5px 17px 4px rgba(156, 156, 156, 0.53);
            box-shadow: 5px 5px 17px 4px rgba(156, 156, 156, 0.53);
          }
        }
      }
  }
