.App {

  @media only screen and (min-width: 600px) {
    .filters-mobile {
      display: none !important;
    }
    .filters-desktop {
      display: block !important;
    }
    .search-n-filter {
      padding: 20px 50px !important;
    }
    .search-bar {
      width: 350px !important;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    gap: 40px;
    max-width: calc(100vw - 80px);
    margin: auto;
    padding: 20px 50px;

  }

}
